langchain
langchain-openai
langchain-anthropic
sentence-transformers
pypdf
python-dotenv
ipykernel
ipywidgets
langchain-huggingface
langchain-experimental
langchain-community
langchain-postgres
langchain-tavily
langgraph
langgraph-checkpoint
importlib
langsmith[claude-agent-sdk]
langsmith[openai-agents]
anthropic
langgraph-cli[inmem]
torch==2.12.0
pymupdf
langchain_aws
langgraph_checkpoint_aws
langchain_huggingface
pandas
pgvector
psycopg[binary]